---
import TimeLineElement from "../components/cv/TimeLine.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">PROFILE</div>
  </div>

  <div class="mb-10 text-justify">
    With a career in software development since 2017, I have gained expertise in technologies such as React, JavaScript, TypeScript, PHP, and WordPress. Currently, I specialize in Flutter and FlutterFlow, focusing on custom code to build robust and scalable projects within FlutterFlow. I am fluent in three languages, which allows me to connect and communicate effectively with people from diverse backgrounds. I am fully dedicated to everything I do and have a passion for studying and mastering new technologies.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">ACADEMIC BACKGROUND</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Systems Analysis and Development"
      subtitle="In Progress"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">EXPERIENCES</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="RAPIDOC - ONLINE APPOINTMENT"
      subtitle="Flutter/FlutterFlow Developer"
    >
      As a Flutter and FlutterFlow developer, I work on implementing software for healthcare. My responsibilities include creating and maintaining attractive and intuitive user interfaces. My role also involves performance optimization, ensuring a smooth and responsive user experience. I focus exclusively on the company's key software.
    </TimeLineElement>
    <TimeLineElement
      title="AZOS - TECHNOLOGY AND LIFE INSURANCE"
      subtitle="Front-End Software Engineer"
    >
      As a software engineer, I worked with React, TypeScript, Axios, and Jest on dynamic web applications. I operated within agile methodologies such as Scrum and Kanban, participating in sprints for fast deliveries. I used Git and GitHub for version control. Additionally, I was responsible for implementations using Backend For Frontend (BFF).
    </TimeLineElement>
    <TimeLineElement
      title="TECSYSTEM - SOFTWARE SOLUTIONS"
      subtitle="Web Developer C# and .NET"
    >
      I was responsible for the development and maintenance of applications using the .NET platform. I actively worked on system integration, using C# and ASP.NET. Participating in agile processes, I collaborated in regular sprints and implemented unit tests to ensure code quality.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">LANGUAGES</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Portuguese (Native)</li>
    <li>English (Conversational)</li>
    <li>French (Intermediate)</li>
  </ul>

  <div class="mb-5 mt-5">
    <div class="text-3xl w-full font-bold">SKILLS</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Teamwork</li>
    <li>Decision-making</li>
    <li>Good communication</li>
    <li>Emotional intelligence</li>
  </ul>
</BaseLayout>
