---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello, thank you for being here 👋</div>
    <div class="text-5xl font-bold">I’m Luiz Eduardo</div>
    <div class="text-3xl py-3 font-bold">Flutter Developer & FlutterFlow Expert</div>
    <div class="py-2">
      <text class="text-lg">
        <p>
          I specialize in developing applications with Flutter, focusing on state management using BloC, Provider, and MobX, while applying concepts such as Observables and Clean Architecture.
        </p>
        <p>
          In addition, I have extensive experience with FlutterFlow, where I’ve worked on integrating custom APIs, Firebase, and Supabase, along with ensuring performance and security for applications.
        </p>
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Minhas skills {"</>"}</div>
  </div>

  <HorizontalCard
    title="Flutter/Dart"
    img="/skill-01.png"
    desc="Flutter is a mobile application development framework by Google, while **Dart** is the programming language used to build Flutter applications. Together, they provide a powerful platform for creating native apps for Android, iOS, and the web with efficiency and excellent performance."
    url=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="FlutterFlow"
    img="/skill-02.png"
    desc="FlutterFlow is a visual platform for building Flutter applications without the need to write code manually. It enables the creation of complex and interactive user interfaces through a visual editor, significantly accelerating the app development process."
    url=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Firebase/Supabase"
    img="/skill-03.webp"
    desc="Firebase is a mobile and web application development platform by Google that provides a variety of services such as user authentication, cloud storage, real-time database, and more. On the other hand, Supabase is an open-source alternative to Firebase, offering similar functionalities like authentication, real-time database, and file storage, with a focus on flexibility and giving developers more control over their data."
    url=""
  />
</BaseLayout>
