---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Olá, obrigado por estar aqui 👋</div>
    <div class="text-5xl font-bold">Eu sou Luiz Eduardo</div>
    <div class="text-3xl py-3 font-bold">
      Desenvolvedor WordPress e Empreendedor
    </div>
    <div class="py-2">
      <text class="text-lg">
        <p>
          Com vasta experiência no desenvolvimento de aplicações com WordPress,
          especializo-me na criação de temas e plugins personalizados,
          utilizando PHP e banco de dados MySQL de forma eficiente. Minha
          abordagem se concentra em proporcionar soluções sob medida que atendam
          às necessidades específicas dos clientes, combinando criatividade e
          habilidades técnicas para garantir a funcionalidade e o design
          desejados.
        </p>
        <p>
          Ao longo da minha jornada profissional, tenho aprimorado continuamente
          minhas habilidades no universo do WordPress, buscando as melhores
          práticas de desenvolvimento para entregar resultados de alta
          qualidade. Minha expertise me permite oferecer soluções que se
          destacam no mercado digital, impulsionando o sucesso dos projetos em
          que estou envolvido e superando as expectativas dos clientes.
        </p>
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Minhas skills {"</>"}</div>
  </div>

  <HorizontalCard
    title="WordPress"
    img="/skill-01.png"
    desc="WordPress é uma plataforma de gerenciamento de conteúdo (CMS) amplamente utilizada para a criação de sites e blogs. Ele oferece uma interface intuitiva para editar e publicar conteúdo, enquanto o PHP é a linguagem de programação subjacente usada para desenvolver e personalizar sites no WordPress. Juntos, eles proporcionam uma solução robusta e flexível para criar diversos tipos de sites de forma eficaz e com ampla comunidade de suporte."
    url=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Elementor"
    img="/skill-02.jpg"
    desc="O Elementor é um dos plugins mais populares para WordPress, utilizado para criar e personalizar facilmente páginas e layouts de sites. Com uma interface intuitiva de arrastar e soltar, o Elementor permite aos usuários criar designs visualmente impressionantes sem a necessidade de conhecimento em codificação. Ele oferece uma ampla variedade de widgets e ferramentas de estilo para criar sites responsivos e visualmente atraentes de maneira rápida e eficiente."
    url=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PHP"
    img="/skill-03.jpg"
    desc="O PHP é uma linguagem de programação amplamente usada para criar sites dinâmicos e aplicativos web. Conhecida por sua integração simples com HTML e bancos de dados como MySQL, é uma escolha popular entre os desenvolvedores devido à sua versatilidade e eficiência no processamento de informações do servidor."
    url=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Laravel"
    img="/skill-04.jpg"
    desc="O Laravel é um framework de desenvolvimento web em PHP conhecido por sua elegância e eficiência. Ele oferece uma estrutura robusta e intuitiva para criar aplicativos web modernos e escaláveis. Com recursos como roteamento simplificado, ORM eloquent para gerenciamento de banco de dados e um sistema de templates Blade, o Laravel facilita o desenvolvimento de aplicativos web complexos de forma organizada e eficiente. Sua ampla adoção e documentação detalhada o tornam uma escolha popular entre os desenvolvedores PHP."
    url=""
  />
</BaseLayout>
