---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projetos realizados</div>
  </div>

  <HorizontalCard
    title="Painel Administrativo Rapidoc"
    img="/project-06.png"
    desc="Desenvolvi um aplicativo de gerenciamento de planos de saúde usando FlutterFlow, uma ferramenta poderosa para criar aplicativos Flutter de forma visual e eficiente. Neste projeto, integrei APIs personalizadas para fornecer funcionalidades avançadas, garantindo uma experiência de usuário fluida, responsiva e de alto desempenho."
    url="https://painel-parceiros.flutterflow.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Portal de Notícias Spaiglass"
    img="/project-07.png"
    desc="Desenvolvi um portal de notícias usando FlutterFlow. Neste projeto, integrei Firebase para armazenamento de dados e APIs personalizadas para fornecer funcionalidades avançadas. O portal conta com integração de inteligência artificial para trazer as notícias mais relevantes de cada tópico, garantindo uma experiência de usuário fluida, responsiva e de alto desempenho. Este projeto foi realizado em parceria com a agência Estare."
    url="https://spaiglass.flutterflow.app/home"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="App Smart Convert One"
    img="/project-05.png"
    desc="Desenvolvi um aplicativo de conversor de dólar para real com o propósito de auxiliar usuários que desejam fazer compras no Paraguai. Este aplicativo, desenvolvido com Flutter e Dart, utiliza a biblioteca Provider para gerenciamento de estado e já está disponível para download na loja de aplicativos."
    url="https://play.google.com/store/apps/details?id=com.luizeduardofs.smart_convert_001"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Prev Kids"
    img="/project-01.png"
    desc="Desenvolvi um sistema de previdência privada voltado para crianças, implementando uma calculadora de juros simples e compostos. Utilizei JavaScript para criar uma aplicação web interativa que permite aos usuários simular investimentos ao longo do tempo, incentivando o planejamento financeiro desde cedo."
    url="https://prevkids.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Melis Education"
    img="/project-02.png"
    desc="Desenvolvi um tema filho personalizado e altamente customizável para um site WordPress, oferecendo ao cliente a capacidade de ajustar facilmente o design, layouts e funcionalidades conforme suas necessidades. Utilizando PHP, HTML, CSS e JavaScript, criei uma experiência visualmente atraente e funcional, garantindo uma presença online única e profissional."
    url="https://www.meliseducation.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Equinox Equipamentos"
    img="/project-03.png"
    desc="Desenvolvi um site completo de comércio eletrônico utilizando WordPress, Elementor e WooCommerce, oferecendo ao cliente uma solução personalizada e fácil de gerenciar. Com o Elementor, criei um design responsivo e atrativo, enquanto o WooCommerce foi integrado para possibilitar a venda de produtos online, com recursos como carrinho de compras e checkout seguro, proporcionando uma experiência de compra eficiente para os usuários."
    url="https://www.equinoxequipamentos.com.br/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ounces"
    img="/project-04.png"
    desc="Desenvolvi um site complexo com WordPress, incluindo um tema personalizado e uma funcionalidade única de integração com um aplicativo multiusuário. Implementei APIs dentro do próprio WordPress para garantir uma integração nativa e perfeita, permitindo que o cliente gerencie facilmente o site e o aplicativo em um único ambiente."
    url="https://www.ounces.com.br/"
  />
</BaseLayout>
