---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projetos realizados</div>
  </div>
  <HorizontalCard
    title="Personal Chef Website"
    img="/project-08.png"
    desc="I developed a unique website for personal chef services. In this project, I created an interactive platform where clients can explore personalized menus, book events, and access culinary tips. The website provides an intuitive and engaging experience, reflecting the sophistication and care in the culinary arts."
    url="https://florians-gastronomia.flutterflow.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Spaiglass News Portal"
    img="/project-07.png"
    desc="I developed a news portal using FlutterFlow. In this project, I integrated Firebase for data storage and custom APIs to provide advanced functionalities. The portal includes AI integration to bring the most relevant news for each topic, ensuring a smooth, responsive, and high-performance user experience. This project was carried out in partnership with Estare Agency."
    url="https://spaiglass.flutterflow.app/home"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Smart Convert One App"
    img="/project-05.png"
    desc="I developed a Dollar-to-Real converter app to assist users looking to shop in Paraguay. This app, built with Flutter and Dart, uses the Provider library for state management and is available for download on the app store."
    url="https://play.google.com/store/apps/details?id=com.luizeduardofs.smart_convert_001"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Rapidoc Admin Panel"
    img="/project-06.png"
    desc="I developed a health plan management app using FlutterFlow, a powerful tool for creating Flutter apps visually and efficiently. In this project, I integrated custom APIs to provide advanced functionalities, ensuring a smooth, responsive, and high-performance user experience."
    url="https://painel-parceiros.flutterflow.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Prev Kids"
    img="/project-01.png"
    desc="I developed a private pension system focused on children, implementing a simple and compound interest calculator. I used JavaScript to create an interactive web application that allows users to simulate investments over time, encouraging financial planning from an early age."
    url="https://prevkids.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Melis Education"
    img="/project-02.png"
    desc="I developed a custom and highly customizable child theme for a WordPress website, providing the client with the ability to easily adjust design, layouts, and functionalities according to their needs. Using PHP, HTML, CSS, and JavaScript, I created a visually appealing and functional experience, ensuring a unique and professional online presence."
    url="https://www.meliseducation.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Equinox Equipment"
    img="/project-03.png"
    desc="I developed a complete e-commerce website using WordPress, Elementor, and WooCommerce, providing the client with a personalized and easy-to-manage solution. With Elementor, I created a responsive and attractive design, while WooCommerce was integrated to enable online product sales, featuring a shopping cart and secure checkout, ensuring an efficient shopping experience for users."
    url="https://www.equinoxequipamentos.com.br/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ounces"
    img="/project-04.png"
    desc="I developed a complex website with WordPress, including a custom theme and a unique multi-user app integration. I implemented APIs within WordPress itself to ensure a seamless and native integration, allowing the client to easily manage both the website and the app within a single environment."
    url="https://www.ounces.com.br/"
  />
</BaseLayout>
