---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li>
        <a class="py-3 text-base" id="projects" href="/projects">Projects</a>
    </li>
    <li><a class="py-3 text-base" id="cv" href="/cv">Resume</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="https://wa.me/5528999999297?text=Ol%C3%A1,%20tudo%20bem?%20Estava%20olhando%20seu%20portif%C3%B3lio%20e%20gostaria%20de%20ter%20mais%20informa%C3%A7%C3%B5es%20sobre%20seu%20trabalho!"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>

<script
    define:vars={{
        sideBarActiveItemID: sideBarActiveItemID,
        activeClass: activeClass,
    }}
>
    const activeItemElem = document.getElementById(sideBarActiveItemID);
    activeItemElem && activeItemElem.classList.add(activeClass);
</script>
